@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@300;500;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --royal: #5687e3;
  --white: #fff;
  --d-flex: flex;
  --rgb: rgb(65, 105, 225);
  --purp: #580786;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.App {
  background-color: var(--royal);
  padding: 2%; 
  min-height: 100vh;
}

nav {
 display: var(--d-flex);
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 25px;
  color: var(--white);
  padding-left: 15px;
  padding-right: 15px;
}

.myhandles {
  display: var(--d-flex);
  gap: 20px;
}

.nav-iconc {
  display: var(--d-flex);
  gap: 20px;
  font-size: 20px;
}

.content1 {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 10px 10px var(--rgb);
}

.img-box {
  display: flex;
  width: 50%;
  opacity: 0.5;
  justify-content: center;
  border: 1px solid var(--royal);
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  background-color: var(--rgb);
  padding: 10px;
  border-radius: 3px;
}

.world-img {
   height: 140px;
  clip-path: circle();
  border-style: none;
}

.spiner {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border-top: 1rem solid dodgerblue;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.banner-text {
  display: flex;
  border: 1px solid var(--royal);
  background-color: var(--royal);
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  -webkit-filter: grayscale(45%);
  filter: grayscale(45%);
  color: var(--white);
  font-size: 2rem;
  font-weight: bolder;
}

.input-container {
  display: flex;
  justify-content: center;
}

.search-input {
  height: 30px;
  border-radius: 5px;
  margin-top: 15px;
  width: 50%;
  padding-left: 10px;
  border-style: none;
}

.stats {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--white);
  font-size: 15px;
}
.homeinfo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.homeinfo-card {
display: flex;
  border: 1px solid var(--royal);
  flex-direction: column;
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
  box-shadow: 3px 5px 5px var(--rgb);
  text-decoration: none;
}

.next-info {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  padding: 10px;
  text-decoration: none;
}

.back-icon {
  color: var(--white);
}

.flag-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s;
}

.flag-content:hover {
   transform: scale(0.7);
}

.flag-image {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  align-self: center;
}

.homeinfo-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--purp);
}

.flag-text {
  text-align: right;
  font-weight: bolder;
  font-size: 18px;
}

.spi {
  margin-top: 25px;
  margin-bottom: 50px;
}

.box-img1 {
  display: flex;
  width: 50%;
  justify-content: center;
  border: 1px solid var(--royal);
  -webkit-filter: grayscale(70%);
  filter: grayscale(35%);
  background-color: var(--royal);
  padding: 10px;
  border-radius: 3px;
}

.info-image {
  height: 110px;
  clip-path: circle();
  border-style: none;
}

ul {
  list-style-type: none;
  padding: 0;
  color: var(--purp);
}


ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  height: 50px;
  border-top: 1px solid var(--royal);
}

ul li:last-child {
  border-bottom: none;
}

.val {
  color: aliceblue;
}

.new-Color {
  background-color: var(--royal);
  -webkit-filter: grayscale(100%);
  filter: grayscale(20%);
}
